@use '../helpers/media';
@use '../helpers/functions';

.hero {
  margin-top: 80px;
  display: flex;
}

.hero__image {
  text-align: end;
  height: 80vh;

  img {
    width: 100%;
    height: 100%;
    border-radius: 80px;
  }
}

.hero__data {
  display: flex;
  height: 40vh;
  background-color: rgba(154, 194, 223, 0.25);
  margin-left: 55px;
  border-radius: 80px;
}

.hero__title {
  margin: 10px;
  font-size: functions.rem(100);
  color: var(--c-blue-0);
  font-family: Ledger-Regular, serif;
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--c-blue-0);
  }
}
