<section class="container hero">
    <div class="hero__image">
        <img src="/hero.webp" alt="hero-image" />
        <div class="hero__image-quote">Красивая цитата</div>
    </div>
    <div class="hero__data">
        <div class="hero__title">
            Сиваев<br />Александр
        </div>
    </div>
</section>
